{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
	"test": {
		"plugins": [
      "transform-es2015-modules-commonjs",
      "@babel/plugin-syntax-dynamic-import",
      "@babel/plugin-transform-runtime"
      ]
	  }
  }
}
